
{{> head}}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Orlando Prieto Regalado</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur laudantium delectus recusandae reprehenderit rerum, officia dicta quae praesentium ut. Quibusdam asperiores necessitatibus iusto officia atque quasi iste ut, doloremque repellat?
    </div>
    <div class="col-4">
        <img src="assets/img/fototitulo.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}